{% extends 'layout.html' %}

{% block title %}Citas - Med Control{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/articulo.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Crear nueva cita</h2>
    <form id="form-cita">
        {{ form.hidden_tag() }}
        
        <div class="form-group">
            <label for="paciente_id">Identificación del paciente:</label>
            <input type="text" class="form-control" id="paciente_id" required />
        </div>
    
        <div class="form-group">
            <label for="nombre_paciente">Nombre del paciente:</label>
            <input type="text" class="form-control" id="nombre_paciente" required />
        </div>

        <div class="form-group">
            <label for="email">Ingrese el correo del paciente:</label>
            <input type="email" class="form-control" id="email" required />
        </div>
    
        <div class="form-group">
            <label for="fecha_hora">Fecha y Hora:</label>
            <input type="datetime-local" class="form-control" id="fecha_hora" required />
        </div>
    
        <div class="form-group">
            <label for="motivo">Motivo:</label>
            <textarea class="form-control" id="motivo" required></textarea>
        </div>

        <div class="form-group">
            <label for="sitio">Sitio:</label>
            <select class="form-control" id="sitio" required>
                <option value="" disabled selected>Seleccione un sitio</option>
                <option value="Sede Norte">Sede Norte</option>
                <option value="Sede Centro">Sede Centro</option>
                <option value="Sede Sur">Sede Sur</option>
            </select>
        </div>

        <div class="form-group">
            <label for="profesional">Profesional:</label>
            <select class="form-control" id="profesional" required>
                <option value="">Seleccione un profesional</option>
            </select>
        </div>
    
        <button type="submit" class="btn">Guardar</button>
    </form>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/citas.js') }}"></script>
{% endblock %}
