{% extends 'layout.html' %}

{% block title %}Inicio - Personal Pay{% endblock %}

{% block content %}
<section class="bg-light pt-5 text-center">
    <div class="container">
        <div class="pb-5 pt-5 row">
            <div class="col-lg-8 col-xl-6 mx-auto">
                <h1 class="display-4 fw-normal mb-3 text-dark">Med Control</h1>
                <p class="fw-normal mb-4">La facilidad de manejo de tiempo y pago para tus empleados</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 mb-0 me-auto ms-auto mt-0 pb-0 pt-0">
                <div class="bg-white m-0 p-0" style="border-radius: 0.5rem;">
                    <img src="https://media1.tenor.com/m/3qOvZTXzrsoAAAAC/cyberspace-fingerprint.gif" alt="GIF de ejemplo" style="width: 300px; height: auto;">
                </div>
            </div>
        </div>
        
    </div>
</section>


<div class="bg-dark"> <svg viewBox="0 0 100 100" preserveAspectRatio="none" fill="currentColor" version="1.1" xmlns="http://www.w3.org/2000/svg" height="80" width="100%" class="bg-light d-block text-white">
    <path d="M 100 100 V 0 L 0 100" /> </svg> </div>
<section class="pb-5 pt-5 text-center">
<div class="container pb-5 pt-5">
    <div class="align-items-center mb-3 row">
        <div class="col-lg-9 ms-auto me-auto">
            <h2 class="fw-normal h1 mb-1 text-dark">MISIÓN & ENFOQUE</h2>
            <p class="mt-4 fw-light">Nuestro nuevo backoffice tendrá como propósito ser una herramienta administrativa multifuncional, cumpliendo diversas tareas.<br></p>
            <p class="mt-4 fw-light">Hacer más eficiente los procesos de registro para nuevos colaboradores, teniendo toda la información necesaria desde datos personales hasta su nómina, por otro lado, pretende llevar un informe ordenado de entradas y salidas de cada colaborador registrando fecha y hora, el mismo sistema se encargará de liquidar cada nómina y brindar una plataforma donde cada colaborador pueda acceder y verificar la suya. Un multipropósito que cumple con brindar procesos e información cada vez más accesible y eficiente.<br><p>
            <p class="mt-4 fw-light">Nuestro nuevo backoffice tendrá como propósito ser una herramienta administrativa multifuncional, cumpliendo diversas tareas.<br>
                Hacer más eficiente los procesos de registro para nuevos colaboradores, teniendo toda la información necesaria desde datos personales hasta su nómina, por otro lado, pretende llevar un informe ordenado de entradas y salidas de cada colaborador registrando fecha y hora, el mismo sistema se encargará de liquidar cada nómina y brindar una plataforma donde cada colaborador pueda acceder y verificar la suya. Un multipropósito que cumple con brindar procesos e información cada vez más accesible y eficiente.</p>
        </div>
    </div>
    </div>
</div>
</section>
{% endblock %}
